@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* Doctor animation  */

@keyframes slideInFromRight {
  0% {
      transform: translateX(100%); /* Start from outside the screen */
      opacity: 0;
  }
  100% {
      transform: translateX(0); /* End at its natural position */
      opacity: 1;
  }
}

.slide-in-right {
  animation: slideInFromRight 1s ease-out forwards; /* Prevents overflow by using forwards */
  width: 100%; /* Ensure it takes up no more than the full width */
  max-width: 100%; /* Restrict maximum width */
}

.hover-n {
    background-color: #2B4FB2; /* Desired hover color */
    border-color: #2B4FB2; /* Match border color on hover */
  
}